<div class="row">
  <div class="col-sm-6">
    <h2><small>{{user.get('email')}}</small></h2>
  </div>
  <div class="col-sm-6">
    <p class="text-right"><small>Member since: {{user.get('createdAt') | date:'longDate'}}</small></p>
  </div>
</div>

<div class="divider"></div>

<div class="row">
  <div class="col-sm-12">
    <div class="col-md-2 hidden-sm hidden-xs">
      <h5>Password</h5>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-link" ng-click="changePassword = !changePassword">Change password</button>
    </div>
    <div class="col-md-8 col-sm-10">
      <form class="form-inline" role="form" name="passwordForm" novalidate ng-show="changePassword" ng-submit="submit(passwordForm, credentials)">
        <div class="form-group">
          <label class="sr-only" for="password">Current password</label>
          <input type="password" class="form-control" id="password" placeholder="Current password" ng-model="credentials.password" ch-validator="required password">
        </div>
        <div class="form-group">
          <label class="sr-only" for="newPassword">New password</label>
          <input type="password" class="form-control" id="newPassword" placeholder="New password" ng-model="credentials.newPassword" ch-validator="required password">
        </div>
        <div class="form-group">
          <label class="sr-only" for="newPasswordConfirmation">Password confirmation</label>
          <input type="password" class="form-control" id="newPasswordConfirmation" placeholder="Password confirmation" ng-model="newPasswordConfirmation" ch-validator="required password confirm:credentials.newPassword">
        </div>
        <button type="submit" class="btn btn-default">Change</button>
      </form>
    </div>
  </div>
</div>