<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <h2><small>Sign up</small></h2>
  </div>
</div>
<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <div class="panel panel-default">
      <div class="panel-body">
       <form name="signupForm" class="form-horizontal" ng-submit="submit()" novalidate>
          <div class="form-group">
            <label for="email" class="control-label sr-only">Email Address</label>
            <div class="col-sm-10 col-sm-offset-1">
              <input type="email" id="email" name="email" class="form-control" placeholder="Email address" ng-model="email" ch-validator="required email" />
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="control-label sr-only">Password</label>
            <div class="col-sm-10 col-sm-offset-1">
             <input type="password" id="password" name="password" class="form-control" placeholder='Password' ng-model="password" ch-validator="required password"/>
            </div>
          </div>
          <div class="form-group">
            <label for="passwordConfirmation" class="control-label sr-only">Password Confirmation</label>
            <div class="col-sm-10 col-sm-offset-1">
             <input type="password" id="passwordConfirmation" name="passwordConfirmation" class="form-control" placeholder='Re-enter Password' ng-model="passwordConfirmation" ch-validator="required password confirm:password"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <button type="submit" class="btn btn-success">Signup</button>
            </div>
          </div>
          <div class="form-group">
            <div class='col-sm-5 col-sm-offset-2'>
              <a class='btn btn-link' ui-sref="main.public.login" >Log in</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>